!! rofi
rofi.display-drun: Run
rofi.drun-display-format: {name}
rofi.drun-match-fields: name
rofi.font: Noto Sans Mono 20
rofi.lines: 4
rofi.width: 24 
rofi.bw: 0
rofi.color-window: #353535, #353535, #000000
rofi.color-normal: #353535, #eeeeec, #353535, #000000, #15539e
rofi.hide-scrollbar: true
rofi.show-icons: True

!! fonts
Xft.dpi: 102
Xft.autohint: 1
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.antialias: 1
Xft.rgba: rgb

!! colors
! special 
*background: #000000
*foreground: #bdbdbd
! black
*color0: #000000
*color8: #111111
! red
*color1: #a50000
*color9: #a50000
! green
*color2: #128012
*color10: #128012
! yellow
*color3: #af8600
*color11: #af8600
! blue
*color4: #1932af
*color12: #1932af
! magenta
*color5: #6a1b9a
*color13: #6a1b9a
! cyan
*color6: #008888
*color14: #008888
! white
*color7: #505050
*color15: #bdbdbd
