[Unit]
Description=Xinit

[Service]
ExecStartPre=/usr/bin/su -c '/usr/bin/chmod 660 /dev/tty7'
ExecStart=/usr/bin/xinit -- :0 vt7
Restart=on-success

[Install]
WantedBy=default.target
